@page "/fetchdata"
@using BlazorKnowledge.Proxies.BlazorKnowledge.Server
@inject IWeatherForecastClient WeatherForecastClient
<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_forecasts.Count == 0)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table id="weather">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in _forecasts)
        {
            <tr>
                <td>@forecast.Date.ToString("dd-MM-yyyy")</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ICollection<WeatherForecast> _forecasts = new List<WeatherForecast>();

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await WeatherForecastClient.GetAsync();
    }

}
