<div style="background-color: chocolate; color: aliceblue; font-size: xx-large; padding: 6px; margin: 8px">
    @Text
</div>

@code {

    [Parameter]
    public string Text { get; set; } = string.Empty;

}
